body{
  padding: 0;
  margin: 0;
  font-family: arial,sans-serif;
  color: white;
}
.body{
  margin: 1.5%;
  display: flex;
  justify-content:space-between;
  margin-bottom:12vh;
}
.nev{
  display: flex;
}
.nev1{
  display: flex;
}
.p>a{
  text-align: center;
  color: gray;
  font-size: 1.1em;
  text-decoration: none;
  padding:20px;
}
.nev3{
  display: flex;
  justify-content:space-around;
}
.p6>i{
  font-size: 1.4em;
  color: gray;
  margin-right: 20px;
}
.p7{
  height: 25px;
  width: 25px;
  font-size: 1.3em;
  border-radius: 100%;
  background-color:rgb(194, 58, 58) ;
  text-align: center;
  color: white; 
}
.p8>img{
  height: 40px;
  width: 40px;
  border-radius: 100%;
 margin-left: 20px;
}
.goo{
  text-align: center;
  width: 100%;
}
.g1>img{
  width: 18vw;
}
.g2>input{
  margin-top:3vh;
  padding: 20px;
  width: 50%;
  border: 1px solid rgb(235, 227, 227);
  background-image: url("../images/voice.PNG");
  background-repeat: no-repeat;
  background-position: right;
}
.g3>button{
  margin-top: 2%;
  padding: 10px;
  width: 200px;
  border: none;
}
.g3>button>a{
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: grey;
  text-decoration: none;
}
.g4>p{
  margin-top: 1%;
  font-size: 1.1em;
  color: gray;
}
.g4>p>span{
  
  color: blue;
}
.foter{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.foter>p{
  font-size: 1.2em;
  padding: 18px;
  padding-left: 35px;
  color:gray;
  background-color:rgb(242, 242, 242)  ;
  border: 1px solid rgb(250, 249, 249);
  margin-bottom: 0;
}
.f1{
  
  display: flex;
  justify-content: space-between;
  padding: 18px;
  background-color:rgb(242, 242, 242) ;
}
.f11{
  display: flex;

}
.f22{
  display: flex;
}
.li>a{
  text-decoration: none;
  color:gray;
  text-align: center;
  font-size: 1.1em;
  padding: 18px;
}